.form-wrapper{
	background-color: #EEE;
	padding: 20px;
}

.note-editable{
	background-color: #FFFFFF;
}

.chosen-container, .chosen-container-multi{
	width: 100% !important; /*overwrite inherited classes*/
}