@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300);
*{ margin: 0; padding: 0; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body{
	color: #333333;
	margin: 0;	
	padding: 0;				
	font-size: 0;
	font-family: 'Lato';
	font-weight: 300;
	background-color: #F2F2F2;
	display: block;
	/*overflow-x: hidden;*/
}
a{
	list-style: none;
	text-decoration: none;
}
h1{
	font-size: 56px;
	font-weight: 300;
}
p{
	font-size: 15px;
	margin: 10px;
	text-align: justify;
}
.menu{
	background-color: #F5F5F5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content:space-between;
	align-items:center;
	font-size: 20px;
	font-weight: 300;
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	text-align: left;
	width: 100%;
}
.element{
	display: inline-block;
	/*font-weight: 200px;*/
	font-size: 20px;
}
.element a{
	color: #333333;
}
.landscape{
	/* Image location */
	background-image: url(../imgs/office_view.jpg);

	/* We make sure that the background image is 
	vertical centered and horizontally at all times */
	background-position: center center;

	/* The background image is not repeated*/
	background-repeat: no-repeat;

	/* The background image is fixed on the viewport, 
	so it will not move when content height exceeds the height of the image.*/
	background-attachment: fixed;

	/* The background image is rescaled when 
	the browser window width is changed */
	background-size: cover;

	/* the background color is set to be displayed 
	while charging the background image or if there are problems to load  */
	background-color: #F5F8FA;

	display: flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
	/*margin-bottom: 10px;*/
	/*padding: 75px 0 0 0;*/
	/*position: absolute;*/
}
.Services{
	margin: 0 25px 0 25px;
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: flex-start;
	padding: 5px;
}
.Services-element{
	/*border: 1px solid #F2F2F2;*/
	border-radius: 10px;
	border-top: 8px solid #333333;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 32px;
	margin-bottom: 3px;
	/*padding: 5px;*/
	text-align: center;
	width: 350px;
}
.Services-header{
	color: #FFFFFF;
	background-color: #333333;
	width: 100%;
}
.sidemenu-container{
	background-color: #333333;
	display: inline-block;
	font-size: 14px;
	min-width: 275px;
	width: 20%;
}
.sidemenu{
	width: 100%;
}
.Smallimage{
	height: 220px;
	width: 270px;
}
.Wrapper{
	border-top: 1px solid #333333;
}